.chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #393943;
  height: 100vh;

  .chatMessage {
    flex-grow: 1;
    overflow-y: scroll;
  }

  .chatInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #474b53;
    border-radius: 5px;
    margin: 10px;
    color: lightgray;
    position: fixed; // 画面下部に固定するために修正
    bottom: 0; // 画面下部に配置するように修正
    width: 100%; // 幅を100%に修正


    form {
      flex-grow: 1;
      input {
        padding: 10px;
        background: transparent;
        border: none;
        outline: none;
        color: white;
        font-size: large;
        width: 100%;
      }
      .chatInputButton {
        display: none;
      }
    }
    .chatInputIcons {
      .MuiSvgIcon-root {
        padding: 5px;
      }
    }
  }
}
